.login-route {
  .box {

    width: 256px;
    margin: 0 auto;
  }
  .logo {

    padding: 22px 0 25px 0;

    text-align right;
    img {
      width 60%;
    }
  }

  .box-login {
    .title-dv {
      color: #58585b;
      font-family: "kuro", Arial, Tahoma;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 15px;
      text-align: right;
    }
    .error {
      line-height: 48px;
      text-align: center;
      border: 1px solid #f00;
      height: 48px;
      //margin-bottom: 2px;
    }

    .form-group.captra {
      input {
        width 141px;
        display inline-block;
      }
      .img-controls {
        width calc(100% - 141px);
        display inline-block;
        vertical-align middle;

        .captcha {
          display inline-block;
          width calc(100% - 21px);
        }
        .refresh {
          display inline-block;
          position relative;
          top: -8px;
        }
      }
    }

    .controls {
      button {

      }
    }
  }

  .box-language {
    text-align center;
  }
}