.account-details-route .account-details-box .body {
  .line {

    padding: 7px 2px;
    font-size 14px;
    border-bottom 1px solid #eaeaea;

    .label {
      display inline-block;
    }
    .value {
      width 50%;
      float right;
    }
  }
}