.account-details-route {
  padding 15px;

  .box {
    margin-bottom 15px;
  }

  .account-details-box .body {
    .line {
      .label {
        display inline-block;
      }
      .value {
        float right;
      }
    }
  }
}