.transfer-info-box {

  .money-group {
    position relative;
    padding-right calc(30% + 10px);

    & > *:last-child {
      position: absolute;
      top: 8px;
      right: 0;
      width 30%;
    }
  }
}