.form-control {
  width: 100%;
  padding: 0 8px;
  border: 1px solid #00502f;
  height: 40px;
}

.form-group {
  padding: 7px 0 2px 0;
}

input {
  font-size: 15px
  outline none;
}

button {
  font-size: 15px
  outline none;
  border-radius 0;

  background: #00502f;
  border: medium none;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Tahoma;
  line-height: 35px;
  width: 100%;
  text-transform: uppercase;
}

.select-wrapper {
  background: url(/assets/img/bg-fix-left-input.png) no-repeat scroll left bottom;
  //border-radius: 0;
}
select {
  background: url(/assets/img/bg-fix-right-select.png) no-repeat scroll right bottom;
  font-size 14px;
  border-radius: 0;
  -webkit-appearance: none;
  width: 100%;
  padding 5px;
  outline none;
  border 0;
}