.form-control {
  width: 100%;
  padding: 0 8px;
  border: 1px solid #00502f;
  height: 40px;
}

.form-group {
  padding: 7px 0 2px 0;
}

input {
  font-size: 15px
  outline none;
}

button {
  font-size: 15px
  outline none;
  border-radius 0;
}