.input {
  background: url(../../assets/img/bg-fix-left-input.png) no-repeat scroll left bottom;
  position relative;

  & > input {
    background: url(../../assets/img/bg-fix-right-input.png) no-repeat scroll right bottom;
    padding: 5px;
    width 100%;
    border none;
  }
}