
.select {
  background: url(../../assets/img/bg-fix-left-input.png) no-repeat scroll left bottom;

  & > select {
    background: url(../../assets/img/bg-fix-right-select.png) no-repeat scroll right bottom;
    font-size 14px;
    border-radius: 0;
    -webkit-appearance: none;
    width: 100%;
    padding 5px;
    outline none;
    border 0;

    &.placeholder {
      color #bfbfbf
    }
  }
}