.vcb-layout {
  & > .main > .header {
    & > .default-content {
      text-align center;
      padding-top: 8px;

      img {
        height 35px;
      }
    }
    & > .text {
      padding-top: 15px;
      text-align center;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 15px;
      color: #144633;
      line-height: 20px;

    }
  }
}